<script>
    Vue.component("spa-navbar", {
        template: 
            `
            <nav>
                <div class="nav-wrapper green darken-4">
                    <a href="#" class="brand-logo center"><img src="https://www.longbranch.k12.nj.us/cms/lib/NJ01001766/Centricity/Template/GlobalAssets/images///logos/LongBranch.png" alt="Long Branch Public Schools Green Wave Logo" style="width: 50%;"></a>
                    <!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
                    <ul class="right hide-on-med-and-down">
                        <!-- <li><a href="#">Students</a></li>
                        <li><a href="#">Parents</a></li>
                        <li><a href="#">Staff</a></li> -->
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-demo">
                <!-- <li><a href="#">Students</a></li>
                <li><a href="#">Parents</a></li>
                <li><a href="#">Staff</a></li> -->
            </ul>
            `,
        data: {},
        methods: {}
    });
</script>